/* title */
#title {
  background-color: #ff4c68;
}
h3.feature {
  font-size: 1.5rem;
  font-family: "montserrat";
  font-weight: 200;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}
.heading {
  font-family: "Andika New Basic", sans-serif;
  font-size: 2.5rem;
}
.navbar {
  font-size: larger;
  padding-left: 0px;
  padding-right: 0px;
}

.rotated {
  width: 60%;
  transform: rotate(30deg);
}
.fa-apple {
  /* padding-right: 20px; */
  /* margin-right: 8px; */
}
.fa-google-play {
}
.forborder {
  margin-top: 50px;
}
/* features section */
/* features color */
.fa-check-circle,
.fa-bullseye,
.fa-heart {
  color: #ef8172;
  margin-bottom: 1rem;
}
.fa-heart:hover {
  color: #ff4c68;
}
.fa-bullseye:hover {
  color: #ff4c68;
}
.fa-check-circle:hover {
  color: #ff4c68;
}
/* features padding,align */

#features {
  padding: 7% 15%;
}
.feature {
  text-align: center;
}

.palign {
  text-align: center;
}

/* testimonial */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
carousel-item {
  padding: 7% 15%;
}
.imagee {
  width: 20%;
  margin: 20px;
}
/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.card {
  border: 0cm;
}
.pricing-coloumn {
  padding: 3%, 2%;
  text-align: center;
}
